{% extends "__base.html" %}

{% block container %}
<table class="table">
    <tr>
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">ISBN</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{book.name}}</td>
                <td>{{book.isbn_number}}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% if is_paginated %}
    {% include "_pagination.html" %}
{% endif %}

{% endblock %}
